/* Museo Sans Rounded */
@font-face {
    font-family: "MuseoSansRounded100";
    src: url("./assets/fonts/museo-sans-rounded-webfont/MuseoSansRounded100.woff");
    font-weight: 100;
}
@font-face {
    font-family: "MuseoSansRounded300";
    src: url("./assets/fonts/museo-sans-rounded-webfont/MuseoSansRounded300.woff");
    font-weight: 300;
}
@font-face {
    font-family: "MuseoSansRounded500";
    src: url("./assets/fonts/museo-sans-rounded-webfont/MuseoSansRounded500.woff");
    font-weight: 500;
}
@font-face {
    font-family: "MuseoSansRounded700";
    src: url("./assets/fonts/museo-sans-rounded-webfont/MuseoSansRounded700.woff");
    font-weight: 700;
}
@font-face {
    font-family: "MuseoSansRounded900";
    src: url("./assets/fonts/museo-sans-rounded-webfont/MuseoSansRounded900.woff");
    font-weight: 1900;
}
@font-face {
    font-family: "MuseoSansRounded1000";
    src: url("./assets/fonts/museo-sans-rounded-webfont/MuseoSansRounded1000.woff");
    font-weight: 1000;
}