/* Icons */
.Marker, .Phone, .Envelope{
    font-size: 30px;
}

.FaceBook, .YouTube, .Twitter, .LinkedIn {
    height: 30px;
}

.Instagram {
    font-size: 20px;
}

.Search {
    font-size: 20px;
    color: var(--theme-grey);
}