/* Mix */
.icon {
    color: var(--theme-white);
}

.font-color_white {
    color: var(--theme-white);
}

.font-color_dark-brown {
    color: var(--theme-dark-brown);
}

.uppercase {
    text-transform: uppercase;
}