/* Categories */
.Categories {
    display: flex;
    justify-content: center;
    background-color: var(--theme-black);
}

.Category-list {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Category-list__link {
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.Category-list__img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

.Category-list__item_background-img_false {
    background-color: var(--theme-dark-brown);
}

.Category-list__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}



/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Category-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .Category-list__title {
        font-size: 20px;
    }
}



/* Media query:  320px */
@media screen and (max-width: 320px) {

    .Category-list {
        grid-template-columns: 1fr;
    }

    .Category-list__item_background-img_false {
        height: 92vw;
        border-bottom: 2px solid var(--theme-black);
    }
}