/* Footer */
.Footer {
    padding: 15px 40px 15px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--theme-dark-brown);
}

.Footer__left {
    display: flex;
    gap: 50px;
}

.Footer__right {
    display: flex;
    gap: 30px;
}



/* Footer: content */
.External-links {
    display: flex;
    gap: 5px;
    text-decoration: underline;
}

.Payment-methods__img {
    width: 450px;
    height: 40px;
    object-fit: cover;
}



/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Footer {
        flex-direction: column;
    }

    .Footer__left, .Footer__right {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .Address, .External-links {
        text-align: center;
    }
}



/* Media query:  320px */
@media screen and (max-width: 320px) {
}