/* Header */
.Header__top {
    height: 80px;
    padding: 0 40px 0 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    position: relative;
    background-color: var(--theme-black);
}

.Header__top_state_transparent {
    background-color: var(--theme-black-transparent);
}

.Header__bottom {
    height: 80px;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-black);
    border-top: 3px solid var(--theme-faded-brown);
}

.Header__shop {
    padding-top: 15px;
    background-color: var(--theme-black);
}

.Header__link {
    position: absolute;
    left: 10px;
}

.Header__link .Hi-fi-logo {
    height: 50px;
}


/* Header: content */
.User {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Account, .Cart {
    display: flex;
    align-items: center;
    gap: 10px;
}



/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Header__top {
        height: auto;
        padding: 30px 20px 30px 20px;
        row-gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Header__link .Hi-fi-logo {
        display: none;
    }

    .Header__bottom {
        height: auto;
        padding: 30px 20px 30px 20px;
    }

    .Header__shop {
        padding-top: 0;
    }
}



/* Media query:  320px */
@media screen and (max-width: 320px) {
    
}