/* Header */
.Header__top {
    height: 80px;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    background-color: var(--theme-black);
}

.Header__top_state_transparent {
    background-color: var(--theme-black-transparent);
}

.Header__bottom {
    height: 80px;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-black);
    border-top: 3px solid var(--theme-faded-brown);
}



/* Header: content */
.User {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Account, .Cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Account__title, .Cart__title {
    color: var(--theme-white);
}

.Contact {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Subscribe {
    padding: 4px 8px 4px 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--theme-light-blue);
    border-radius: 4px;
}

.Subscribe__title {
    color: var(--theme-white);
}

.Header__Subscribe {
    margin-left: -20px;
}