/* Navigation */
.Nav__list {
    display: flex;
    gap: 40px
}

.Nav__link {
    font-weight: 600;
}

.Nav__link_active {
    color: var(--theme-dark-brown);
}

/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Nav__list {
        max-width: 360px;
        justify-content: center;
        flex-wrap: wrap;
    }
}



/* Media query:  320px */
@media screen and (max-width: 320px) {
    
}