/* Product details */
.Product-details {
    padding: 40px;
}

.Product-details__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Product-details__header {
    margin-bottom: 20px;
}

.Product-details__footer {
    margin-top: 40px;
}

.Product-details__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}



/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Product-details__details {
        grid-template-columns: 1fr;
    }
}



/* Media query:  320px */
@media screen and (max-width: 320px) {

    .Product-details {
        padding: 20px;
    }
}