/* Product description */
.Product-description__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
}

.Product-description__list {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Product-description__item {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}