/* Product options */
.Product-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.Product-info__product-options {
    margin-bottom: 25px;
}

.Product-options__item {
    padding: 15px 20px 15px 20px;
    background-color: var(--theme-dark-brown);
}

.Product-options__item:hover {
    cursor: pointer;
}

.Product-options__title {
    font-weight: 600;
}



/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Product-options {
        max-width: 400px;
        margin: 0 auto 25px auto;
        justify-content: center;
    }
}