/* Shop */
.Shop {
    padding: 40px;
}

.Shop__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 25px;
}

.Shop__current-page {
    margin-bottom: 35px;
}



/* Media query:  1366px */
@media screen and (max-width: 1366px) {

    .Shop__container {
        grid-template-columns: 1fr auto;
    }
}

/* Media query:  836px */
@media screen and (max-width: 836px) {

    .Shop__container {
        grid-template-columns: auto;
    }
}