/* Update news */
.Update-news {
    width: 100%;
    min-height: 450px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/hi-fi-corner-praktikopgave/assets/img/backgrounds/bg-home-quote.jpg);
    background-size: cover;
    background-position: center;
}

.Update-news__title {
    max-width: 1600px;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}



/* Media query:  768px */
@media screen and (max-width: 768px) {

    .Update-news {
        min-height: auto;
    }

    .Update-news__title {
        font-size: 32px;
    }
}



/* Media query:  320px */
@media screen and (max-width: 320px) {
    
    .Update-news {
        padding: 20px;
    }

    .Update-news__title {
        font-size: 22px;
    }
}